header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  header, footer {
    background: #3e8c37;
    color: white;
    padding: 16px;
  }
  
  #logo {
    font-size: 48px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  main {
    background-color: #efaf19;
    padding: 16px;
    color: white;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  img {
    margin: 32px;
  }
  
  .rs {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 8px;
    list-style-type: none;
  }
/* Aplicação das propriedades flex box */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
  }
  
  li, .rs {
    margin-left: 48px;
  }
